h1{
    font-size: 100px;
    color: green;
    font-family:monospace;
}

h2{
font-size: 80px;
color: blue;
font-family: sans-serif;

}




body{
    background-color:black;

}

p{
text-align: justify;
color: white;

}
